{% extends "../layouts/base.twig" %}

{% block style %}
<link href="/css/cloturerMatch.css" rel="stylesheet">
{% endblock %}


{% block main %}
    <main>
        <section>
            <h1>Clôturer le Match</h1>
            <form action="/admin/match/{{ match.id }}/cloturer" method="POST">
                <div>
                    <label for="equipeGagnanteId">Équipe gagnante</label>
                    <select name="equipeGagnanteId" id="equipeGagnanteId" required>
                        <option value="">-- Sélectionnez l'équipe gagnante --</option>
                        <option value="{{ match.equipe1.id }}" {% if match.equipeGagnanteId == match.equipe1.id %}selected{% endif %}>{{ match.equipe1.nom }}</option>
                        <option value="{{ match.equipe2.id }}" {% if match.equipeGagnanteId == match.equipe2.id %}selected{% endif %}>{{ match.equipe2.nom }}</option>
                    </select>
                </div>

                <div>
                    <button type="submit">Clôturer le Match</button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
