{% extends "../layouts/base.twig" %}

{% block style %}
<link href="/css/equipes.css" rel="stylesheet">
{% endblock %}

{% block main %}
<main>
    <section class="form-section">
        <h1>Liste des Équipes</h1>

        <div class="cards-container">
            {% for equipe in equipes %}
            <div class="card">
                <h2>{{ equipe.nom }}</h2>
                <p><strong>Acronyme:</strong> {{ equipe.acronyme }}</p>
                <p><strong>Jeu:</strong> {{ equipe.jeu.nom }}</p>
                <p><strong>Compétition:</strong> {{ equipe.competition.nom }}</p>
                <div class="card-actions">
                    <form action="/admin/equipe/{{ equipe.id }}/supprimer" method="POST">
                        <button type="submit" class="button danger-button">Supprimer</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
